<a href="https://colab.research.google.com/github/Wang-wei-hua9/Computational-Thinking-and-Programming-Design/blob/master/Week17_A106260093_%E7%8E%8B%E7%B7%AF%E8%8F%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
sum=0
for a in range(1,10,2):

  sum=sum+a

  print("a為",a,"加總結果為",sum)

a為 1 加總結果為 1
a為 3 加總結果為 4
a為 5 加總結果為 9
a為 7 加總結果為 16
a為 9 加總結果為 25

In [14]:
n=int(input("請輸入n值?"))
sum =0

for a in range(1,n+1,1):
  sum=sum+n*n
  print("a為",a,"加總結果為",sum)

請輸入n值?5
a為 1 加總結果為 25
a為 2 加總結果為 50
a為 3 加總結果為 75
a為 4 加總結果為 100
a為 5 加總結果為 125

In [13]:
sum=0
for a in range(3,13,3):
  sum=sum+a
  print("a為",a,"加總結果為",sum)

a為 3 加總結果為 3
a為 6 加總結果為 9
a為 9 加總結果為 18
a為 12 加總結果為 30

In [15]:
sum=0
start=int(input("請輸入start值?"))
end=int(input("請輸入end值?"))
step=int(input("請輸入step值?"))
for a in range(start,end,step):
  sum =sum+a
  print("a為",a,"加總結果為",sum)

請輸入start值?1
請輸入end值?5
請輸入step值?1
a為 1 加總結果為 1
a為 2 加總結果為 3
a為 3 加總結果為 6
a為 4 加總結果為 10

In [26]:
for a in range(1,10,1):
  for b in range(1,10,1):
    print(a, "*", b, "=", a*b, '\t', sep="",end="")
  print()

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [27]:
for i in range(6):
  print(i)
  if i % 2==0:
    print(i, "is even")
  else:
    continue
    print(i,"is odd")

0
0 is even
1
2
2 is even
3
4
4 is even
5